site_name: MDKIKOU'S E-Docs

#plugins:
  #- search :
  #- encryptcontent :
      #password_file : 'passwords.yml'
      #global_password: #'your_password'

nav:
  - 主页:
    - index.md
  - 随笔:
    - Essay/241217.md
    - Essay/241228.md
  - 读书笔记:
    - 读书计划: Reading/读书计划.md
    - 小米创业思考: Reading/Management/小米创业思考.md
    - 基业长青: Reading/Management/基业长青.md
  - 学习:
    - 学习计划: Learning/学习计划.md 
    - 日语学习: Learning/Japanese/01.md
  # - 学习:
  
  #- FirstPage_name: source_test/page1.md
  #- SecendPage_name: source_test/page2.md

theme:
  name: material

  features:
    - navigation.tabs # 一级导航在横着的导航栏
    - content.code.annotate # 可以在代码块中增添点击展示的注释，参见 https://squidfunk.github.io/mkdocs-material/reference/code-blocks/#adding-annotations
    - navigation.tracking # 地址栏中的 URL 会随当前位置变化为对应小节的 URL
    - navigation.indexes # 将 index 页面直接附到小节名上
    - navigation.top # 回到顶部按钮
    # - navigation.sections # 二级导航是粗体
    # - navigation.expand # 导航默认展开
    - toc.follow # toc 跟随
    # - toc.integrate # 文档 toc 集成到总目录中 
    # - navigation.tabs.sticky
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: orange
      accent: red
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: light green
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

repo_url: https://github.com/mdkikou/MK.MDKIKOU
repo_name: my-git

markdown_extensions:
  - toc:
      permalink: true # link for each title
      slugify: !!python/name:pymdownx.slugs.uslugify # enable Unicode link
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - tables
  - meta
  - md_in_html
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: underscore
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra:
  social:
    - icon: material/github
      link: https://github.com/mdkikou

copyright: Copyright &copy; 2023 @MDKIKOU
